{% extends "base.html" %}
{% block title %}Admin – User Management{% endblock %}

{% block content %}

  <h2 class="title">User Management</h2>

  <table class="sheet">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Role</th>
        <th>Full name</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role.value }}</td>
          <td>{{ user.full_name}}</td>
          <td>{{ user.phone}}</td>
<!--          <td>{{ "Yes" if user.is_active else "No" }}</td>-->
          <td class="actions">
            {% if user.id != current_user.id %}
             <a href="{{ request.url_for('admin_edit_user_form', user_id=user.id) }}"
                class="btn-sm btn-edit">
                Edit
              </a>
              <form data-method="PUT" data-url="{{request.url_for('admin_toggle_user_role', user_id=user.id)}}" data-redirect="{{request.url_for('admin_list_users')}}"
                    data-confirm="Do you want to change role">
            {% if user.role.value == 'admin' %}
              <button class="btn-sm btn-delete" type="submit">
                Demote
              </button>
            {% else %}
              <button class="btn-sm btn" type="submit">
                Change Role
              </button>
            {% endif %}
              </form>

              <form data-method="DELETE" data-url="{{request.url_for('admin_delete_user', user_id=user.id)}}" data-redirect="{{request.url_for('admin_list_users')}}" data-confirm="Do you want to delete user" >
               <button class="btn-sm btn-delete" type="submit">
                  Delete
                </button>
              </form>
            {% else %}
              <span class="note">—</span>
            {% endif %}
          </td>

        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
